<div class="app">

  <!-- Top Navbar -->
  <header class="navbar">

    <div class="logo">
      🚀 WhiteBoard AI
    </div>

    <div class="board-name">
      {{board()?.title }}
    </div>

    <div class="nav-actions">

      <button (click)="saveBoard()">💾 Save</button>

      <button (click)="showShareModal = true" >👥 Share</button>
      @if (showShareModal) {

  <div class="modal-overlay">

    <div class="share-modal">

      <div class="modal-header">

        <div>
          <h3>Share Board</h3>
          <p>Add people to collaborate on this board.</p>
        </div>

        <button
          class="close-btn"
          (click)="showShareModal = false">
          ✕
        </button>

      </div>


      <div class="share-input">

        <input
          type="email"
          placeholder="Enter email address"
          [(ngModel)]="participantEmail"
        />

        <button (click)="addParticipant()">
          Add
        </button>

      </div>


      <div class="participants">

        <h4>People with access</h4>

        <!-- Owner -->

        <div class="participant">

          <div class="participant-avatar">
            {{ board()?.owner?.name?.charAt(0) }}
          </div>

          <div class="participant-info">

            <strong>
              {{ board()?.owner?.name }}
            </strong>

            <span>
              {{ board()?.owner?.email }}
            </span>

          </div>

          <span class="owner-badge">
            Owner
          </span>

        </div>


        <!-- Participants -->

        @for (
          user of board()?.participants;
          track user._id
        ) {

          <div class="participant">

            <div class="participant-avatar">
              {{ user.name?.charAt(0) }}
            </div>

            <div class="participant-info">

              <strong>
                {{ user.name }}
              </strong>

              <span>
                {{ user.email }}
              </span>

            </div>

          </div>

        }

      </div>

    </div>

  </div>

}

  <div class="user-info">

    <div class="user-avatar">
    {{ board()?.owner?.name?.charAt(0) }}
    </div>

    <div class="user-details">
      <div class="user-name">
      {{ board()?.owner?.name }}
      </div>

      <div class="user-email">
      {{ board()?.owner?.email }}
      </div>
    </div>

  </div>

    </div>

  </header>


  <!-- Main -->
  <div class="main">

    <!-- Left Toolbar -->
    <aside class="toolbar">

      <button [class.active]="activeTool === 'select'" (click)="activeTool = 'select'" >🖱️</button>

      <button [class.active]="activeTool === 'hand'" (click)="activeTool = 'hand'">✋</button>

      <button [class.active]="activeTool === 'pen'" (click)="activeTool = 'pen'" >🖊️</button>

      <button [class.active]="activeTool === 'eraser'" (click)="activeTool = 'eraser'">⬜</button>

      <button [class.active]="activeTool === 'circle'" (click)="activeTool = 'circle'">⭕</button>

      <button [class.active]="activeTool === 'line'" (click)="activeTool = 'line'">📏</button>

      <button [class.active]="activeTool === 'text'" (click)="activeTool = 'text'">T</button>

      <button (click)="clearCanvas()">🗑️</button>

    </aside>


    <!-- Canvas -->
    <section class="canvas-wrapper">

      <canvas
        #boardCanvas
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing()"
        (mouseleave)="stopDrawing()">
      </canvas>
      @if (isTyping) {
      <input
        #textInput
        class="canvas-text-input"
        [style.left.px]="textX"
        [style.top.px]="textY"
        [(ngModel)]="currentText"
        (keydown.enter)="finishText()"
        (keydown.escape)="cancelText()"
        autofocus
      />
      }

      <div class="users">
        <div class="avatar">K</div>
        <div class="avatar">R</div>
      </div>

    </section>


    <!-- Right Panel -->
    <aside class="right-panel">

      <button>🤖 AI</button>

      <button>💬 Chat</button>

      <button>📄 Layers</button>

      <button>⚙️</button>

    </aside>

  </div>


  <!-- Footer -->
  <footer class="footer">

      <span>100%</span>

      <span>Ready ●</span>

      <span>Mouse : (0,0)</span>

  </footer>

</div>